@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --udmercy-red: #a5093e;
  --udmercy-blue: #002d72;
}

* {
  font-family: "Poppins";
}

body {
  margin: 0px;
  color: rgb(33, 33, 33);
}