.add-reimbursement-section {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  /* flex-wrap: wrap-reverse; */
  justify-content: flex-start;
  margin-bottom: 60px;
  column-gap: 105px;
  padding: 65px 45px 0px 60px;
}

.all-activities-section::-webkit-scrollbar {
  display: none;
}

.all-activities-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  height: auto;
  width: 345px;
  box-sizing: border-box;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  border-radius: 30px;
}

.all-activities-section h3 {
  font-weight: 600;
}

.save-uploaded-receipts-button {
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  height: 40px;
  width: auto;
  text-align: center;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
}
.add-actvities-button {
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  height: 40px;
  width: 240px;
  text-align: center;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
}

.activity-error {
  position: absolute;
  top: 20px;
  cursor: pointer;
  width: 4px;
  right: 20px;
}

.reimbursement-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 105px;
  row-gap: 20px;
}

.help-icon {
  width: 20px;
  cursor: pointer;
}

.activities-list {
  max-height: 58vh;
  overflow: auto;
  padding: 0px 9px;
  height: auto;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activities-list::-webkit-scrollbar,
.receipt-preview::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.activities-list::-webkit-scrollbar-track,
.receipt-preview::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.activities-list::-webkit-scrollbar-thumb,
.receipt-preview::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #acacac;
}

/* Handle on hover */
.activities-list::-webkit-scrollbar-thumb:hover,
.receipt-preview::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
.expenses-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 45px;
  width: auto;
}

.expenses-section div {
  background-color: var(--udmercy-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  width: auto;
  border-radius: 7px;
  height: 43px;
  padding: 0px 25px;
  transition: all 250ms ease-in;
}

.expenses-section div:hover {
  background-color: #001d48;
}

.input-field {
  padding-left: 20px;
  width: 300px;
  box-sizing: border-box;
  height: 45px;
  background: #ffffff;
  padding-right: 21px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.cost-and-other-section {
  display: flex;
  flex-wrap: wrap;
}

.cost-and-other-section h3 {
  font-weight: 500;
  font-size: 14px;
}

.selected-option span {
  font-weight: 400;
  font-size: 14.5px;
}

.foapa-and-date-section,
.activity-add-receipt-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.foapa-and-date-section h3 {
  font-size: 14.5px;
  font-weight: 500;
}

.add-receipt-text {
  font-size: 14.5px;
  font-weight: 500;
  margin-bottom: 14.5px;
}

.add-receipt {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.add-receipt-section {
  width: 430px;
}

.terms-and-conditions {
  font-weight: 300;
  color: gray;
  width: auto;
  margin-bottom: 0px;
  max-width: 500px;
  font-size: 13px;
  line-height: 25px;
}

.receipt-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 570px;
  padding-bottom: 20px;
  overflow: auto;
}

.reimbursement-additional-info-wrapper {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.activity-add-receipt-section {
}

.receipt-preview .receipt {
  height: 131px;
  width: 407px;
  min-height: 131px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 0px 20px;
  /* position: relative; */
  border-radius: 7px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 3px rgba(111, 111, 111, 0.17);
}

.receipt-preview .receipt img {
  width: 88px;
  object-fit: cover;
  height: 88px;
  border-radius: 6px;
}

.receipt-preview .receipt span h3 {
  margin: 0px;
  font-size: 15px;
}

.receipt-preview .receipt span span {
  align-items: center;
  /* position: absolute; */
  justify-content: center;
  right: 20px;
  gap: 20px;
  width: auto;
  display: flex;
  margin-top: 10px;
  height: 37px;
}

.receipt-preview .receipt span button,
.receipt-preview .receipt span a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
  margin: 0px;
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
}

.add-reimbursement-button {
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  height: 45px;
  justify-content: center;
  width: 250px;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
}

.cost-and-other-section {
  height: 45px;
}
.error-field {
  color: rgb(238, 0, 0);
  font-size: 12.5px;
  max-width: 200px;
}

.activity {
  background: var(--udmercy-blue);
  color: white;
  width: 320px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.activity h3 {
  font-weight: 500;
  margin-top: 0px;
  font-size: 15px;
}

.activity h4 {
  font-weight: 300;
  font-size: 12px;
}
.activity-option {
  background-color: var(--udmercy-red);
  width: 10px;
  height: 10px;
  padding: 14px 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

input#hold-for-pickup,
input#direct-deposit {
  margin-top: 0px;
}

.upload-receipts-section {
  margin-top: 5px;
}
.custom-file-input {
  color: transparent;
  width: 153px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload receipt";
  color: white;
  display: inline-block;
  font-weight: 300;
  background: var(--udmercy-red);
  border-radius: 3px;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  transition: all 200ms;
  font-size: 12.5px;
}

.custom-file-input:hover::before {
  background-color: darkred;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: darkred;
}

.upload-receipts-here {
  font-size: 14px;
}

.divider {
  height: 3px;
  background: rgb(237 237 237);
  border-radius: 10px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.dependency-message {
  margin-top: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
}

.selected-foapa-amount {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 15px;
}

.activity-field span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-options-wrapper {
  display: flex;
  gap: 20px;
}

.expenses-fields-wrapper {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
}

.activity .activity-option .trash-icon {
  filter: brightness(1);
  width: 15px;
}

.cta-buttons {
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px;
  width: 300px;
  display: flex;
}

.edit-icon-button {
  width: 25px;
  cursor: pointer;
}

.reimbursement-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.reimbursement-title-text {
  font-size: 25px;
  border: 0px;
  outline: none;
  border-bottom: solid 1px rgb(224, 224, 224);
  font-weight: 500;
}

.reimbursement-title-text:disabled {
  background-color: white;
}
@media (max-width: 1750px) {
  .reimbursement-section {
    column-gap: 70px;
  }

  .add-reimbursement-section {
    column-gap: 70px;
  }
}
@media (max-width: 1750px) {
  .reimbursement-section {
    column-gap: 45px;
  }
}

@media (max-width: 1350px) {
  .expenses-section {
    width: auto;
  }

  .foapa-and-date-section,
  .activity-add-receipt-section {
    gap: 23px;
  }

  .add-reimbursement-section {
    grid-template-columns: 31% 60%;
  }
}

@media (max-width: 1250px) {
  .add-reimbursement-section {
    height: auto;
    margin-bottom: 63px;
    flex-wrap: wrap-reverse;
  }

  .expenses-fields-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1070px) {
  .add-reimbursement-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: self-start;
    padding-left: 10%;
    padding-top: 30px;
  }

  .activities-list {
    height: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
  }

  .all-activities-section {
    height: auto;
    align-items: start;
    width: auto;
    border-radius: 0px;
  }

  .reimbursement-section {
    width: 80vw;
  }

  .cta-buttons {
    justify-content: flex-start;
    width: auto;
  }

  .cta-buttons button {
    width: 280px;
  }
}
@media (max-width: 800px) {
  .foapa-and-date-section {
    margin-top: 50px;
  }

  .receipt {
    width: 95%;
  }
}

@media (max-width: 680px) {
  .activities-list {
    justify-content: left;
  }
}
