.add-reimbursement-section {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 86px;
  margin-bottom: 60px;
  padding: 70px 45px 0px 60px;
}

.all-activities-section::-webkit-scrollbar {
  display: none;
}

.all-activities-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  height: auto;
  width: 345px;
  box-sizing: border-box;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  overflow: auto;
  border-radius: 30px;
}

.all-activities-section h3 {
  font-weight: 600;
}

.add-actvities-button {
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  height: 40px;
  width: 240px;
  text-align: center;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
}

.reimbursement-section {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
}

.help-icon {
  width: 20px;
}

.activities-list {
  max-height: 58vh;
  overflow: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activities-list::-webkit-scrollbar {
  display: none;
}
.expenses-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: auto;
}

.expenses-section div {
  background-color: var(--udmercy-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  width: auto;
  border-radius: 7px;
  height: 43px;
  padding: 0px 25px;
  transition: all 250ms ease-in;
}

.expenses-section div:hover {
  background-color: #001d48;
}

.input-field {
  padding-left: 20px;
  width: 300px;
  box-sizing: border-box;
  height: 45px;
  background: #ffffff;
  padding-right: 21px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.cost-and-other-section {
  display: flex;
  flex-wrap: wrap;
}

.cost-and-other-section h3 {
  font-weight: 500;
  font-size: 14px;
}

.selected-option span {
  font-weight: 400;
  font-size: 14.5px;
}

.foapa-and-date-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.foapa-and-date-section h3 {
  font-size: 14.5px;
  font-weight: 500;
}

.add-receipt-text {
  font-size: 14.5px;
}

.add-receipt {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.terms-and-conditions {
  font-weight: 300;
  color: gray;
  width: auto;
  max-width: 500px;
  font-size: 13px;
  line-height: 25px;
}

.add-reimbursement-button {
  background-color: var(--udmercy-red);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  height: 45px;
  justify-content: center;
  width: 250px;
  cursor: pointer;
  border: solid 1px var(--udmercy-red);
  padding: 8px 20px;
}

.activity {
  background: var(--udmercy-blue);
  color: white;
  width: 320px;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.activity h3 {
  font-weight: 500;
  margin-top: 0px;
  font-size: 15px;
}

.activity h4 {
  font-weight: 300;
  font-size: 12px;
}
.activity-option {
  background-color: var(--udmercy-red);
  width: 10px;
  height: 10px;
  padding: 14px 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

input#hold-for-pickup,
input#direct-deposit {
  margin-top: 0px;
}

.divider {
  height: 3px;
  background: rgb(237 237 237);
  border-radius: 10px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.activity-options-wrapper {
  display: flex;
  gap: 20px;
}

.activity .activity-option .trash-icon {
  filter: brightness(1);
  width: 15px;
}

.cta-buttons {
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px;
  width: 300px;
  display: flex;
}

.edit-icon-button {
  width: 25px;
  cursor: pointer;
}

.reimbursement-title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.reimbursement-title-text {
  font-size: 25px;
  border: 0px;
  outline: none;
  border-bottom: solid 1px rgb(224, 224, 224);
  font-weight: 500;
}

.reimbursement-title-text:disabled {
  background-color: white;
}

@media (max-width: 1350px) {
  .expenses-section {
    width: auto;
  }

  .foapa-and-date-section {
    gap: 23px;
  }

  .add-reimbursement-section {
    grid-template-columns: 31% 60%;
  }
}

@media (max-width: 1250px) {
  .add-reimbursement-section {
    height: auto;
    margin-bottom: 63px;
  }
}

@media (max-width: 1070px) {
  .add-reimbursement-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: self-start;
    padding-left: 10%;
    padding-top: 30px;
  }

  .activities-list {
    height: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
  }

  .all-activities-section {
    height: auto;
    align-items: start;
    width: auto;
    border-radius: 0px;
  }

  .reimbursement-section {
    width: 80vw;
  }

  .cta-buttons {
    justify-content: flex-start;

    width: auto;
  }
  .cta-buttons button {
    width: 155px;
  }
}

@media (max-width: 680px) {
  .activities-list {
    justify-content: center;
  }
}
