input {
  outline: none;
}

.udmercy-logo-wrapper-mobile {
  display: none;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 130px;
}

.validating-signup-field {
  font-weight: 400;
  margin-bottom: 0px;
}

.error-signup-message {
  font-weight: 400;
  margin-bottom: 0px;
  color: red;
}

.signup-title {
  font-weight: 600;
  font-size: 32px;
  width: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
}

.input-field-wrapper {
  display: flex;
  width: 850px;
  flex-wrap: wrap;
  gap: 42px;
  justify-content: flex-start;
}

.udmercy-logo {
  width: 70%;
  max-width: 14rem;
  padding: 40px 20px;
}

.udmercy-logo-wrapper {
  border: 1px solid #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  height: auto;
  width: 1050px;
}

.foapa-section {
  margin-top: 40px;
}

.employment-number-section h3 {
  font-size: 14px;
  font-weight: 400;
  /* color: #474747; */
}

.add-foapa-title {
  font-weight: 600;
  font-size: 25px;
}

.continue-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.signup-page-foapa {
  display: flex;
  align-items: center;
}

.signup-page-foapa h3 {
  font-weight: 400;
  font-size: 14.5px;
}

.employment-number-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-84px, -50%);
}

.input-field,
.work-email-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  align-items: flex-start;
  gap: 14px;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.input-field label,
.work-email-section label {
  margin-top: 8px;
}

.input-field-wrapper:not(:nth-child(1)) {
  margin-top: 6px;
}

.input-field span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.input-field .error-field,
.work-email-section .error-field {
  color: rgb(238, 0, 0);
  font-size: 12px;
  max-width: 200px;
}

.work-email-descriptor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20px, -41px);
  font-weight: 400;
  font-size: 13px;
}

.creating-account-feedback {
  margin: 0px 0px 20px;
  font-weight: 400;
}

.work-email-input-field {
  padding-left: 20px;
  width: 210px;
  box-sizing: border-box;
  height: 36px;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.work-email-input-field input {
  border: none;
  font-size: 13px;
  width: 60px;
}

.input-field input,
.input-field select {
  padding-left: 20px;
  width: 210px;
  box-sizing: border-box;
  height: 36px;
  font-size: 13px;
  padding-right: 20px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.input-field label,
.work-email-section label {
  font-size: 14px;
  width: 100px;
}

.signup-title-description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
}

.signup-button {
  background-color: var(--udmercy-blue);
  color: white;
  padding: 10px 40px;
  border: solid 1px;
  width: 232px;
  height: 50px;
  margin-top: 17px;
  cursor: pointer;
  background: #a5093e;
  border-radius: 26px;
}

.signup-button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--udmercy-blue);
  color: white;
  border: solid 1px;
  width: 51px;
  height: 50px;
  margin-top: 25px;
  cursor: pointer;
  background: #a5093e;
  border-radius: 26px;
}

.required-field-note {
  font-weight: 300;
}

.already-have-account {
  font-size: 14.5px;
}

.next-arrow {
  width: 20px;
}

.thanks-for-signing-up-msg {
  font-weight: 600;
}

.verify-code-section {
  text-align: left;
}

.verify-button {
  background-color: var(--udmercy-blue);
  color: white;
  padding: 10px 70px;
  border: solid 1px;

  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  background: #a5093e;
  border-radius: 26px;
}

.email-confirmation-text {
  font-weight: 400;
  width: auto;
  line-height: 30px;
  max-width: 700px;
  font-size: 15px;
}

.signup-form {
  display: flex;
  gap: 7px;
  row-gap: 0px;
  /* row-gap: 50px; */
  flex-direction: column;
  align-items: flex-start;
}

.continue-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.mt-0 {
  margin-top: 0px !important;
}

#employment-number {
  padding-left: 35px;
}

@media (max-width: 1350px) {
  .udmercy-logo {
    display: none;
  }

  .left-section {
    display: none;
  }
}

@media (max-width: 1135px) {
  .right-section {
    padding-left: 75px;
  }
}

@media (max-width: 900px) {
  .input-field-wrapper {
    width: auto;
  }

  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .verify-code-section {
    text-align: center;
  }

  .verify-code-section input {
    text-align: center;
    padding-left: 0px;
  }

  .thanks-for-signing-up-msg {
    padding: 0px 30px;

    text-align: center;
  }

  .email-confirmation-text {
    padding: 0px 30px;
    font-size: 14px;
    text-align: center;
  }

  .signup-title-description {
    text-align: center;
    padding: 0px 20px;
  }

  .signup_form{
    text-align: center;
  }

  .udmercy-logo-wrapper-mobile {
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 80px;
  }

  .udmercy-logo-mobile {
    width: 100px;
  }

  .right-section {
    height: 100%;
    width: 100vw;
    padding-left: 0px;
  }

  .signup-title {
    font-size: 20px;
    text-align: center;
    width: 350px;
    margin: auto;
    line-height: 45px;
    margin-top: 50px;
  }

  .input-field label {
    width: auto;
    margin-top: 0px;
  }

  .input-field input {
    text-align: center;
  }

  .signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .input-field,
  .work-email-section {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    height: auto !important;
  }

  .input-field span,
  .work-email-section>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #department {
    text-align: center;
  }

  .error-field {
    text-align: center;
  }

  .input-field-wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: auto !important;
    margin-bottom: 30px;
    align-items: center;
  }

  .required-field-note {
    margin-bottom: 60px;
    font-weight: 300;
  }

  .account-feedback-message {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .continue-buttons {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
  }

  .input-field input,
  .input-field select {
    text-align: center;
  }

  .address-section-button {
    margin-top: 0px;
  }
}