input {
  outline: none;
}

.udmercy-logo-wrapper-mobile {
  display: none;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 130px;
}

.signup-title {
  font-weight: 600;
  font-size: 32px;
  width: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
}

.input-field-wrapper {
  display: flex;
  width: 850px;
  flex-wrap: wrap;
  gap: 42px;
  justify-content: flex-start;
}

.input-field-foapa-wrapper {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  row-gap: 30px;
  justify-content: flex-start;
  align-items: flex-end;
}

.udmercy-logo {
  width: 70%;
  max-width: 14rem;
  padding: 40px 20px;
}

.udmercy-logo-wrapper {
  border: 1px solid #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  height: auto;
  width: 1050px;
}

.foapa-section {
  margin-top: 40px;
}
.employment-number-section h3 {
  font-size: 14px;
  font-weight: 400;
  /* color: #474747; */
}

.employment-number-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95px, -50%);
}

.foapa-section label {
  font-size: 14px;
}

.input-FOAPA-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input-FOAPA-field label {
  font-size: 14px;
  margin-bottom: 10px;
}

.input-FOAPA-field input {
  width: 90px;
  height: 36px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  display: inline-flex;
}

.input-field,
.work-email-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
}

.work-email-descriptor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20px, -41px);
  font-weight: 400;
  font-size: 13px;
}

.work-email-input-field input {
  font-size: 13px;
}

.work-email-input-field {
  padding-left: 20px;
  width: 210px;
  box-sizing: border-box;
  height: 36px;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.work-email-input-field input {
  border: none;
  width: 65px;
}

.input-field input,
.input-field select {
  padding-left: 20px;
  width: 210px;
  box-sizing: border-box;
  height: 36px;
  font-size: 13px;
  padding-right: 20px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.input-field label,
.work-email-section label {
  font-size: 14px;
  width: 100px;
}

.add-foapa-button {
  background-color: var(--udmercy-red);
  background: #a5093e;
  padding: 10px;
  border: solid 1px var(--udmercy-red);
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2px;
  height: 36px;
  margin-bottom: 0px;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
}
.input-field-foapa-wrapper h5 {
  margin-bottom: 10px;
}

.signup-title-description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
}

.signup-button {
  background-color: var(--udmercy-blue);
  color: white;
  padding: 10px 40px;
  border: solid 1px;
  width: 232px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  background: #a5093e;
  border-radius: 26px;
}

.signup-form {
  display: flex;
  gap: 7px;
  row-gap: 50px;
  flex-direction: column;
  align-items: flex-start;
}

.continue-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.added-foapa-number h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

@media (max-width: 1350px) {
  .udmercy-logo {
    display: none;
  }
  .left-section {
    display: none;
  }
}

@media (max-width: 1135px) {
  .right-section {
    padding-left: 75px;
  }
}
@media (max-width: 900px) {
  .input-field-wrapper {
    width: auto;
  }

  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .input-FOAPA-field label {
    text-align: center;
  }

  .input-field-foapa-wrapper h5 {
    margin: 0px;
    display: none;
  }
  .signup-title-description {
    text-align: center;
  }
  .udmercy-logo-wrapper-mobile {
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 80px;
  }

  .udmercy-logo-mobile {
    width: 100px;
  }

  .right-section {
    height: 100%;
    width: 100vw;
    padding-left: 0px;
  }

  .signup-title {
    font-size: 20px;
    text-align: center;
    width: 350px;
    margin: auto;
    line-height: 45px;
    margin-top: 50px;
  }

  .input-field label {
    width: auto;
  }

  .input-field input {
    text-align: center;
  }

  .signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .input-field,
  .work-email-section {
    flex-direction: column;
    gap: 20px;
  }

  .input-field-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .required-field-note {
    margin-bottom: 60px;
  }

  .input-field-foapa-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .continue-buttons {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .added-foapa-number {
    justify-content: center;
  }
}
