input {
  outline: none;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 130px;
}

.signup-title {
  font-weight: 600;

  font-size: 32px;
  width: 400px;
  margin-top: 0px;
  margin-bottom: 37px;
  text-align: left;
}

.input-field-wrapper {
  display: flex;
  width: 850px;
  gap: 44px;
  justify-content: space-between;
}

.input-field-foapa-wrapper {
  display: flex;
  width: 850px;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  row-gap: 30px;
  justify-content: flex-start;
}

.udmercy-logo {
  width: 70%;
  max-width: 14rem;
  padding: 40px 20px;
}

.udmercy-logo-wrapper {
  border: 1px solid #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  height: auto;
}

.foapa-section label {
  font-size: 14px;
}

.input-FOAPA-field input {
  width: 100px;
  height: 36px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  display: inline-flex;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  justify-content: space-between;
}

.input-field input {
  padding-left: 20px;
  width: 124px;
  height: 36px;
  background: #ffffff;
  margin-left: 20px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.input-address-data input {
  width: 130px;
}

.input-field label {
  font-size: 14px;
}

.add-foapa-button {
  background-color: var(--udmercy-red);
  background: #a5093e;
  padding: 10px;

  border: solid 1px var(--udmercy-red);
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: auto;
  height: 36px;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
}

.signup-button {
  background-color: var(--udmercy-blue);
  color: white;
  padding: 10px 70px;
  border: solid 1px;
  width: 232px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  background: #a5093e;
  border-radius: 26px;
}

.signup-form {
  display: flex;
  gap: 7px;
  row-gap: 30px;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 610px) {
  .input-field {
    flex-direction: column;
  }

  .signup-title {
    font-size: 20px;

    width: 350px;
    line-height: 45px;
  }

  .input-field input {
    margin-left: 0px;
    text-align: center;
    padding-left: 0px;
  }

  .input-field label {
    width: auto;
    margin-bottom: 10px;
  }

  .udmercy-logo {
    width: 70px;
    padding: 40px 20px;
  }

  .udmercy-logo-wrapper {
    border: 1px solid #ffffff;
    border-radius: 9999px;
    height: 110px;
    padding: 30px;
  }
  .signup-page {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .foapa-field {
    gap: 40px;
  }
}
